body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Task {
  height: 80%;
  margin: 1rem;
  padding: 2.5rem 2.5rem 2.5rem 1rem;
  border-radius: 10px;
  background-color: #f0f2f5;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.06);
}

.Task input {
  padding: 0.8rem 2rem 0.8rem 0.5rem;
  border-radius: 10px;
  border: 1px solid #d1d5db;
}

.Task button {
  padding: 0.7rem 1rem 0.7rem 1rem;
  margin-left: 0.5rem;
  border-radius: 5px;
  font-weight: 700;
  border: 0;
  color: white;
  background-color: #3b82f6;
  cursor: pointer;
  transition: 0.2s linear all;
}

.Task button:hover {
  background-color: #0054da;
}

.Task .inputs {
  height: 93%;
}

.Tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputs > div {
  height: 93%;
  overflow: scroll;
  scrollbar-width: none;
  margin-top: 0.5rem;
}

#check {
  transform: scale(1.5);
  cursor: pointer;
}

#task p {
  font-size: 20px;
  margin-left: 0.5rem;
  opacity: 0.7 ;
}

.Tasks i {
  cursor: pointer;
  transition: 0.1s linear all;
}

.Tasks i:hover {
  color: #ef4444;
}

.Tasks #task {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Timer-section {
  height: 40%;
  width: 250px;
  margin: 1rem;
  padding: 2.5rem;
  border-radius: 10px;
  background-color: #ef4444;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Timer-section p {
  font-size: 22px;
  color: #ffffff;
  padding: 0.1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.Timer-section h1 {
  font-size: 75px;
  color: #ffffff;
  font-family: "Courier New", monospace;
  font-variant-numeric: tabular-nums;
  margin: 0.5rem;
  text-align: center;
}

.Timer-buttons {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.Timer-buttons button {
  width: 50px;
  height: 50px;
  font-weight: 700;
  background: rgb(40, 209, 37);
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.4rem 0 0.4rem;
  border: none;
  transition: 0.5s linear all;
}

.disabled-btn {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

.Timer-buttons button:hover {
  background: rgb(6, 248, 1);
}

.stats-section {
  height: 80%;
  margin: 1rem;
  padding: 2.5rem 2.5rem 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
}

.stats-section div {
  background-color: #e0f2fe;
  border-radius: 15px;
  padding: 20px;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0);
}

.stats-section h4 {
  margin: 1rem;
  color: #0c4a6e;
}

.stats-section p {
  margin: 2rem 2rem 2rem 1rem;
  font-size: 30px;
  font-weight: 700;
  color: #0c4a6e;
}
